<ion-view title="Dashboard">
  <ion-content padding="true" class="has-header">
    <div id="dashboard-button-bar1" class="button-bar"></div>
    <h1 id="dashboard-heading1" style="color:#000000;">Your Events</h1>
    
    <div class="list card">
      <!--list events that user is leader of -->
     
      <!-- provision for event page -->
      <!-- <ion-item class="item-icon-left item-icon-right" ui-sref="tabsController.event1" ng-repeat="l_team in leader_of" ng-href="{{}}"> -->
      <ion-item class="item-icon-left item-icon-right" ui-sref="tabsController.event1" ng-repeat="l_team in leader_of">
        <i class="icon ion-android-globe"></i>{{l_team.event_uid.name}}
        <span class="item-note">Leader</span>
        <i class="icon ion-android-star"></i>
      </ion-item>
      
      <!-- list events that user is member of -->
      <ion-item class="item-icon-left item-icon-right" ui-sref="tabsController.event2" ng-repeat="m_team in member_of">
        <i class="icon ion-android-globe"></i>{{m_team.event_uid.name}}
        <span class="item-note">Member</span>
        <i class="icon ion-android-contacts"></i>
      </ion-item>
    </div>
    
    <!-- Button at bottom leads user to event management page -->
    <button id="dashboard-button13" class="button button-positive  button-block" ng-href="{{}}">Browse Other Events</button>
  </ion-content>
</ion-view>