<ion-view title="Dashboard">
  <ion-content padding="true" class="has-header">
    <!-- Button leads user to event list page -->
    <a
      id="dashboard-button13"
      class="button button-positive button-block"
      ng-href="#/tabs/eventList"
    >
      Join New Events
    </a>
    <a
      id="dashboard-button13"
      class="button button-positive button-block"
      ng-click="logout()"
    >
      Sign Out
    </a>

    <br>

    <div class="list card">
      <ion-list>
        <!-- List events that user is leader of -->
        <div ng-repeat="(l_team, value) in userInfo.leader_of" >
          <ion-item
            class="item-stable item-button-left"
            ng-click="toggleEvent(teamInfo[l_team])"
            ng-class="{active: isTeamShown(teamInfo[l_team])}"
          >
            <i class="icon" ng-class="isTeamShown(teamInfo[l_team]) ? 'ion-minus' : 'ion-plus'"></i>
            
            <strong>{{ teamInfo[l_team].name }}</strong>

            <button class="button button-positive" ng-click="inviteMember($event, l_team)">
              <i class="icon ion-person-add"></i>
            </button>

            <br>
            &nbsp;&nbsp;&nbsp;
            at {{eventInfo[teamInfo[l_team].event_uid].name}}
            
            <span class="item-note">
              <i class="icon ion-android-star"></i>
              You are Leader
            </span>
            
          </ion-item>
            
          <!-- List of Members -->
          <ion-item
            class="item-accordion"
            ng-repeat="(m_id, value) in teamInfo[l_team].members_uid"
            ng-show="isTeamShown(teamInfo[l_team])"
          >
            {{allUserInfo[m_id].name}}
          </ion-item>
        </div>
      </ion-list>
    </div>

    <br>

    <div class="list card">

      <!--List events that user is member of -->
      <div ng-repeat="(m_team, value) in userInfo.member_of" >
        <ion-item
          class="item-stable"
          ng-click="toggleEvent(teamInfo[m_team])"
          ng-class="{active: isTeamShown(teamInfo[m_team])}"
        >
          <i class="icon" ng-class="isTeamShown(teamInfo[m_team]) ? 'ion-minus' : 'ion-plus'"></i>
          
          <strong>{{ teamInfo[m_team].name }}</strong>
          <br>
          &nbsp;&nbsp;&nbsp;
          at {{eventInfo[teamInfo[m_team].event_uid].name}}
          
          <span class="item-note">
            <i class="icon ion-android-contacts"></i>
            You are Member
          </span>
          
        </ion-item>

        <!-- Team Leader -->
        <ion-item
          class="item-accordion"
          ng-show="isTeamShown(teamInfo[m_team])"
        >          
          {{ allUserInfo[teamInfo[m_team].leader_uid].name }}
          <strong>(Leader)</strong>
        </ion-item>
          
        <!-- List of members -->
        <ion-item
          class="item-accordion"
          ng-repeat="(m_id, value) in teamInfo[m_team].members_uid"
          ng-show="isTeamShown(teamInfo[m_team])"
        >
          {{allUserInfo[m_id].name}}
        </ion-item>
      </div>
    </div>
    
    <br>   

  </ion-content>
</ion-view>