<ion-view view-title="Event Details">
	<ion-content>
    <div class="header bar-header bar-light">
      <h1 class="title">{{ event.name }}</h1>      
    </div>    

    <div class="list">
      <div class="item item-icon-left">
        <i class="icon ion-calendar"></i>
        {{ unixTimestampToString(event.timestamp_begin) }} - {{ unixTimestampToString(event.timestamp_begin) }}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-person-stalker"></i>
        {{event.min_member_per_team}} - {{event.max_member_per_team}} people/team  
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-information-circled"></i>
        {{ event.description }}        
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-location"></i>
        {{ event.location }} 
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-email"></i>
        <a href="mailto:{{ event.email }}">{{ event.email }}</a>        
      </div>                  
    </div>

    <br>

    <button class="button button-positive" ng-click="shareFacebook()">
      <i class="icon ion-social-facebook"></i>
    </button>

    &nbsp;

    <button class="button button-primary" ng-click="shareInstagram()">
      <i class="icon ion-social-instagram"></i>
    </button>

    &nbsp;

    <button class="button button-balanced" ng-click="shareWhatsApp()">
      <i class="icon ion-social-whatsapp"></i>
    </button>

    &nbsp;

    <button class="button button-calm" ng-click="shareTwitter()">
      <i class="icon ion-social-twitter"></i>
    </button>

	</ion-content>
</ion-view>