<ion-view view-title="Event Request Form">
  <ion-content ng-controller="EventRequestCtrl">
    <form ng-submit="addEvent()">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Event Name" ng-model="name" required/>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Start Date" ng-focus="callStartDatePicker()" ng-model="startDate" />
      </label>
      <label class="item item-input" ng-show="startDate!=''" id="endDate">
        <input type="text" placeholder="End Date" ng-focus="callEndDatePicker()" ng-model="endDate"/>
      </label>
      <label class="item item-input" ng-show="startDate!=''" id="startTime">
        <input type="text" placeholder="Start Time" ng-focus="callStartTimer()" ng-model="startTime" />
      </label>
      <label class="item item-input" ng-show="startTime!=''" id="endTime">
        <input type="text" placeholder="End Time" ng-focus="callEndTimer()" ng-model="endTime"/>
      </label>
      <label class="item item-input">
        <textarea placeholder="Event Details" ng-model="description" required></textarea>
      </label>
      <label class="item item-input">
        <input placeholder="Min. Team Size" type="number" ng-model="minSize" min="1"></label>
      </label>
      <label class="item item-input">
        <!-- To-do: Valdiate min teamsize < max team size -->
        <input placeholder="Max. Team Size" type="number" ng-model="maxSize" min="{{minSize}}" ></label>
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email" required/>
      </label>
      <label class="item item-input">
        <input type="submit" class="button button-block button-positive" value="Submit">
      </label>
    </div>
    </form>
  </ion-content>
</ion-view>