<ion-view title="" hide-nav-bar="true" id="landingPage">
  <ion-content padding="false" style="background: url(img/logo.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
    <div class="spacer" style="height: 70%;"></div>
    <button id="landingPage-button16" style="border-radius:10px 10px 10px 10px;" class="button button-positive  button-block icon ion-social-facebook"> Sign-In w/ Facebook</button>
    <button id="landingPage-button17" class="button button-positive  button-block">Request Event</button>
  </ion-content>
</ion-view>