<ion-view>
  <ion-content>
    <ion-header-bar class="bar-default" ng-if="currentEventUid">
      <h1 class="title">{{ eventInfo[currentEventUid].name }}</h1>
    </ion-header-bar>
    
    <ion-header-bar class="bar-default" ng-if="currentEventUid === undefined">
      <h1 class="title">Find Your Team</h1>
    </ion-header-bar>
    
    <td-cards delegate-handle="friends">
      <td-card
        ng-repeat="card in cards"
        on-destroy="cardDestroyed($index)"
        on-swipe-left="cardSwipedLeft($index)"
        on-swipe-right="cardSwipedRight($index)"
        on-partial-swipe="cardPartialSwipe(amt, $index)"
        class="card-{{$index}}"
      >
        <div class="image">
          <div class="no-text">NOPE</div>
          <div class="image-wrapper">
            <img ng-src="{{card.image}}">
          </div>
          <div class="yes-text">LIKE</div>
          <div class="card-desc">
            {{card.teamName}}     {{card.matchingScore}}%          
          </div>

          <div ng-if="!currentEventUid" style="margin-bottom: 10px">
            at <strong>{{ eventInfo[card.eventUid].name }}</strong>
          </div>

          <br>

          <div style="margin-bottom: 10px">
            <span class="chip-text" ng-repeat="sk in card.mostMatchedSkills">{{sk}}</span>
          </div>

          <div>
            <span class="chip-text" ng-repeat="pos in card.mostMatchedPositions">{{pos}}</span>
          </div>       
          
        </div>
        <div class="control">
          <button ng-click="noClick($index)" class="button button-outline button-assertive">No</button>
          <button ng-click="yesClick($index)" class="button button-outline button-balanced">Yes</button>
        </div>
      </td-card>
    </td-cards>
  </ion-content>
</ion-view>
