<ion-view title="Teamder" id="tabs">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabs-tabs2">
    <ion-tab title="Profile" icon="ion-person" ng-click="goToState('tabs.userprofile')" id="tabs-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Dashboard" icon="ion-grid" ng-click="goToState('tabs.dashboard')" id="tabs-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>  
    </ion-tab>
    <ion-tab title="Find Your Team" icon="ion-heart" ng-click="goToState('tabs.matchtoteam')" id="tabs-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>