<ion-view view-title="Team Creation">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Team name" ng-model="teamProfile.name" required/>
      </label>

      <label class="item item-input">
        <textarea placeholder="Team Details" ng-model="teamProfile.description" required></textarea>
      </label>

      <div class="item item-input-inset">
        <label class="item item-input-wrapper">
          <input placeholder="Skills Needed" type="text" ng-model="teamProfile.newSkill">
        </label>
        <button class="button button-positive" ng-click="addSkill()">Add</button>
      </div>
        
      <div ng-repeat="(key, value) in teamProfile.skills">
        <button class="button button-positive button-small" ng-click="removeSkill(key)">Remove</button>
        <span class="tag tag-default">{{key}}</span>
      </div>

      <div class="item item-input-inset">
        <label class="item item-input-wrapper">
          <input placeholder="Positions Needed" type="text" ng-model="teamProfile.newPosition">
        </label>
        <button class="button button-positive" ng-click="addPosition()">Add</button>        
      </div>  

      <div ng-repeat="(key, value) in teamProfile.positions">
        <button class="button button-positive button-small" ng-click="removePosition(key)">Remove</button>
        <span class="tag tag-default">{{value}} {{key}}</span>
      </div>

      <label class="item item-input">
        <button class="button button-block button-positive" ng-disabled="isCreatingTeam" ng-click="addTeam()">Create</button>
      </label>
    </div>
  </ion-content>
</ion-view>