<ion-view view-title="Team Creation">
  <ion-content>
    <div class="list">
      <!-- Team name -->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Team Name</span>
        <input type="text" placeholder="Awesome name" ng-model="teamProfile.name" required/>
      </label>

      <!-- Short description -->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <textarea placeholder="Describe your awesome team" ng-model="teamProfile.description" required></textarea>
      </label>

      <!-- Add skills -->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Skill Needed</span>
        <input placeholder="e.g. Ionic, AngularJS, React,..." type="text" ng-model="teamProfile.newSkill">
      </label>

      <div class="item">
        <button class="button button-positive" ng-click="addSkill()">Add Skill</button>
      </div>

      <!-- Skill list -->
      <div class="item" style="white-space: normal">
        <div class="textchip" ng-repeat="(key, value) in teamProfile.skills">
          {{ key }}
          <span class="textchip-closebutton" ng-click="removeSkill(key)">&times;</span>
        </div>
      </div>
      
      <!-- Add positions -->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Position Needed</span>
        <input placeholder="e.g. Project manager, Designer, Developer,..." type="text" ng-model="teamProfile.newPosition">
      </label>

      <div class="item">
        <button class="button button-positive" ng-click="addPosition()">Add Position</button>
      </div>
      
      <!-- Position list -->
      <div class="item" style="white-space: normal">
        <div class="textchip" ng-repeat="(key, value) in teamProfile.positions">
          {{ key }}
          <span class="textchip-closebutton" ng-click="removePosition(key)">&times;</span>
        </div>
      </div>
      
      <br>
      <br>

      <!-- Create team -->
      <button class="button button-positive" ng-disabled="isCreatingTeam" ng-click="addTeam()" style="margin-left: 10px">
        Create Team
      </button>

    </div>
  </ion-content>
</ion-view>