.textchip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  margin: 5px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #F1F1F1;
}

.textchip-closebutton {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}